html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #ff7d93;
}


.homebutton ul.home li {
    list-style: none;
    display: left;
    margin-right: 15px;
    font-size: 30px;
    font-family: Courier;
    padding-top: 20px;

}

.homebutton ul.home a {
    color: #ffffff;
    text-decoration: none;
}

.homebutton ul.home a:hover {
    color: rgb(255, 247, 142)
}

.menu ul.menutext {
    font-family: serif;
    font-style: 1.5vw;
    font-style: normal;

}

.menu ul.menutext li {
    list-style: none;
    display: left;
    margin-right: 15px;
    border-width: 2px;
    border-color: #000;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: Courier;

}

.menu ul.menutext a {
    color: #000;
    text-decoration: none;
}

.menu ul.menutext a:hover {
    color: rgb(255, 247, 142)
}

.menu ul.menutext {
    font-family: serif;
    font-style: 1.5vw;
    font-style: normal;

}

.picturecontainer {
    width: 75%;
    margin: auto;
    margin-top: -150px;
}

.imgcontainer1 {
    float: left;
    margin-left: 100px;
}

.teacher {
    width: 310px;
    height: 310px;
    border: 5px solid rgb(255, 247, 142);
}

.resumelink{
    font-size: 18px;
    font-family: Courier;
    text-decoration: none;
    color: #ffffff;

}

.container1 a:hover {
    color: rgb(255, 247, 142)
}

.container1{
    color: black;
    margin-left: 700px;
    width: 800px;
}
